.header {
	z-index: 99;
	padding: @padding;
	// background-color: @cardColor; 
	// background-color: @themeColor; 动态 根据滑动位置改变颜色
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex-direction: column;
	text-align: left;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 125px;
	.alias-avatar{
		height: @height_header;
	}
	
	.wrapper_search{
		margin-top: @padding;
		height: @height_header;
		line-height: @height_header;
		width: 100%;
	}
	.wrapper_search:active{
		opacity: 0.1;
	}

}

.title{
	color: @labelColor2;
	font-weight: bolder;
	font-size: @height_header*0.7;
	height: @height_header*0.7;
	line-height: @height_header*0.7;
	margin-bottom: @padding/2;
}



.panel{
	position: relative;
	width: 100vw;
	height: 125px;
	
	background-color: yellow;
}







// .u-wave-ripple {
// 	z-index: 0;
// 	position: absolute;
// 	border-radius: 100%;
// 	// background-clip: padding-box;
// 	background-clip: border-box;
// 	pointer-events: none;
// 	user-select: none;
// 	transform: scale(0);
// 	opacity: 1;
// 	transform-origin: center;
// }

// .u-wave-ripple.u-wave-active {
// 	opacity: 0;
// 	transform: scale(2);
// 	transition: opacity 0.1s ease-out, transform 0.1s ease-out;
// }